/*======================================= Main Css =================================================*/
.header{
  display:block;
  width: 100%;
}
.headerLogo{
  margin-top:-100px;
  img{
    display: block;
    width: 150px;
    margin:0 auto;
  }
}
.headerImage{
    height:130px;
    background: url(./images/home-header-image.png) no-repeat;
    background-size: cover;
    margin-top:-42px;
    span.whiteArea{
      display: block;
      position: relative;
      background-color: rgba(255, 255, 255, .5);
      height: 60px;
      //width: 100vw;
      margin-top: 50px;
      top:70px;
      img{
      width:50px;
      margin: 5px 0 0 10px;
        &:nth-child(1){
          margin-left:40px;
        }
      }

    }
}
.services, .contracts, .training{
  margin-top: 10px;
  img{
    float:left;
    margin:20px 0 0 0;
  }
  h2{
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 6px 0 0 0;
  }
  p{
    font-size: 16px;
    line-height: .8;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: $blue;
  }
}
.capabilities{
  margin-top: -235px;
  h1{
    text-align: center;
    color: $red;
    font-size: 36px;
    font-weight: 900;
    padding: 0 0 0 0;
    margin: 6px 0 0 0;
  }
}
.capabilitiesContentLink{
  min-height:160px;
  img{
    display:block;
    width:69px;
    margin:0 auto;
  }
  h2{
    font-size: 22px;
    font-weight: 700;
    line-height: .8;
    text-align: center;
    color: $red;
    padding: 0 0 0 0;
    margin: 6px 0 6px 0;
  }
  p{
    text-align: center;
    font-size: 16px;
    line-height: .8;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: $blue;
  }
  a{
    text-decoration: none;
  }
}
.frogMan{
  max-height: 130px;
  height: 100%;
  background: url(./images/frogman.png) no-repeat;
  background-size: cover;
  bottom: 95px;
  position: absolute;
  width: 100%;
}
.our-clients{
  margin-top: -190px;
  h1{
    text-align: center;
    color: $red;
    font-size: 36px;
    font-weight: 900;
    padding: 0 0 0 0;
    margin: 6px 0 0 0;
  }
}.clientArea{
  min-height: 100px;
  img{
    display:block;
    width: 70px;
    margin:0 auto;
  }
}
.climbing-wall{
  max-height: 153px;
  height: 100%;
  background: url(./images/climbing-wall.png) no-repeat;
  background-size: cover;
  bottom: 95px;
  position: absolute;
  width: 100%;
}
.solid-foundation{
  display: block;
  background: url(./images/solid-foundation.png) no-repeat;
  background-size: cover;
  background-position-x: -32px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 100%
}
.solidFoundationContentArea{
  position: relative;
  top:0px;
  padding-left:15px;
  h1{
    font-size: 30px;
    font-weight: 700;
    line-height: .8;
    text-align: right;
    color: $red;
    padding: 0 0 0 0;
    margin: 6px 0 6px 0;
  }
  p{
    text-align: right;
    font-size: 16px;
    line-height: .8;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: $blue;
  }
  a.btn-main{
    @extend .solidFoundationButton;
    float: left;
    margin: 5px 0 0 25px;
    text-decoration: none;
  }
}
.whiteBand{
  display: block;
  position: absolute;
  bottom: 0px;
  width:100%;
  height: 245px;
  background-color: rgba(255, 255, 255, .5);
  h2{
    font-size: 22px;
    font-weight: 700;
    line-height: .8;
    text-align: center;
    color: $red;
    padding: 0 0 0 0;
    margin: 6px 0 6px 0;
  }
  a.btn-main{
    @extend .solidFoundationButton;
    text-decoration: none;
  }
}
.whiteBandContent{
  margin-top:20px;
}
.background{
  display: block;
  background: url(./images/stay-updated.png) no-repeat;
  background-size: cover;
  background-position-x: 150px;
  width: 100%;
  height: 100%;


}
.blogArea{
  h1{
    font-size: 30px;
    font-weight: 700;
    line-height: .8;
    text-align: left;
    color: $red;
    padding: 0 0 0 0;
    margin: 6px 0 6px 15px;
  }
}
.redBox{
  //width:auto;
  height: 50px;
  background-color: $red-trans;
  h3{
    font-size: 26px;
    font-weight: 700;
    line-height: .8;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 0 0 0 0;
    margin: 6px 0 6px -7px;
  }
}
.blueBox{
  //width:auto;
  height: 100px;
  background-color: $blue-trans;
  margin-bottom: 20px;
  h2{
    font-size: 22px;
    font-weight: 700;
    line-height: .8;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    padding: 0 0 0 0;
    margin: 6px 0 6px 0;
  }
  span{
    p{
      text-align: left;
      font-size: 16px;
      color: $blue;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }
  }
  p{
    text-align: left;
    font-size: 16px;
    line-height: .8;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: #fff;
  }
  a{
    color: #fff;
  }
}
.stay-updated{
  a.btn-main{
    @extend .solidFoundationButton;
    text-decoration: none;
  }
  a.left-side{
    float: left;
    margin:0 0 0 100px;
  }
  a.right-side{
    float: left;
    margin:0 0 0 5px;
  }
}
.whiteBand-2{
  display: block;
  background: url(./images/overlay-background.png) no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 150px;
  h2{
    font-size: 30px;
    font-weight: 700;
    line-height: .8;
    text-align: center;
    color: $red;
    padding: 18px 0 0 0;
    margin: 6px 0 6px 15px;
  }
  .twitter{
    background: url(./images/twitter-2.png) no-repeat;
    //background-position-y: -27px;
    display: inline-block;
    width: 60px;
    height: 60px;
    //margin: 10px 0 0 15px;
    float: right;
  }
  .facebook{
    background: url(./images/facebook-2.png) no-repeat;
    //background-position-y: -27px;
    display: inline-block;
    width: 60px;
    height: 60px;
    //margin: 10px 0 0 15px;
  }
}
