/* responsive settings */
$screen-xl-min: 1600px;
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Sass Bootstrap */

/* Small devices (tablets, 768px and up) ====================================================================================================*/
@media (min-width: $screen-sm-min) {
  .masthead{
    height:45px;
  }
  .navbar-default{
    display: block;
    position: relative;
    width: 365px;
    margin:0 auto;
    top:-90px;
    .navbar-nav{
      background-color: transparent;
      li{
        a{
          color:$blue;
          padding:10px;
        }
      }
    }
  }
  .headerSocials{
    display: block;
    position: relative;
    top:-47px;
  }
  .headerLogo{
    margin-top:-70px;
    img{
      width: 200px;
    }
  }
  .headerImage{
    margin-top:-75px;
    height:345px;
    span.whiteArea{
      height:100px;
      top:245px;
      img{
        width: 75px;
        margin: 15px 0 0 20px;
        &:nth-child(1){
          margin-left:100px
        }
      }
    }
  }
  .services, .contracts, .training{
    margin-top:50px;
  }
  .capabilities{
    margin-top:-300px;
    h1{
      padding-bottom: 15px;
      font-size: 50px;
    }
  }
  .capabilitiesContentLink{
    h2{
      font-size: 14px;
    }
  }
  .frogMan{
    bottom: 45px;
    max-height: 300px;
  }
  .our-clients{
    margin-top:-300px;

    h1{
      padding-bottom: 15px;
      font-size: 50px;
    }
  }
  .clientArea{
    img{
      width: 92px;
    }
  }
  .climbing-wall{
    bottom: 45px;
    max-height: 367px;
  }
  .solid-foundation{
    bottom: 45px;
  }
  .mountain{
    background-position-x: 0px;
  }
  .solidFoundationContentArea{
    top:50px;
    padding: 0 50px;
    h1{
      font-size: 50px;
    }
    p{
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    }
    a.btn-main{
      margin-top:60px;

    }
    a.left-side{
      margin-left: 250px;
    }
  }
  .whiteBand{
    bottom: 0px;
    h2{
      font-size: 50px;
      font-weight: 900;
    }
  }
  .stay-updated{
    max-height:598px;
    height:100%;
    a.left-side{
      margin-top:145px;
      margin-left:130px;
    }
    a.right-side{
      margin-top:145px;
    }
  }
  .blogArea{
    h1{
      font-size: 50px;
      margin:6px 0 30px 0;
    }
  }
  .redBox{
    height:70px;
    width:60px;
    h3{
      font-size: 35px;
    }
  }
  .blueBox{
    height: 150px;
    padding: 10px 20px;
    h2{
      font-size: 30px;
    }
    span{
      p{
        font-size: 20px;
      }
    }
    p{
      font-size: 24px;
      line-height:.6;
    }

  }
  .whiteBand-2{
    h2{
      font-size: 40px;
    }
  }
  .background{
    background-size: contain;
    background-position-x: 285px;
  }
  .contactBackground{
    width:100%;
    height: 500px;
    background: url(./images/contact-background.png) no-repeat;
    background-position-y: 85px;
    background-size: contain;
  }
  .contact-us{
    min-height: 243px;
    height:initial;
    h1{
      font-size: 50px;
    }
  }
  .contactForm{
    textarea{
      height:140px;
    }
  }
  .businessAnalytics{
    h1{
      padding: 15px 0;
      font-size: 50px;
    }
    p{
    font-size: 22px;
    line-height: .8;
    }
  }
  .logistics{
    //margin-top: 20px;
    background-position-x: 455px;
    background-position-y: 180px;
    h1{
      font-size: 50px;
      padding-bottom: 40px;
      margin-top: 20px;
    }
    h2{
      font-size: 30px;
    }
    p{
      font-size: 22px;
      line-height: 1;
    }
    span p{
      margin-top:15px;
    }
  }
  .logisticsContent{
    min-height: 295px;
  }
  .engineering{
    background-position-x: -128px;
    margin-top: -20px;
    h1{
      font-size: 50px;
      padding-bottom: 20px;
      margin-top:20px;
    }
    p{
      font-size: 22px;
      //line-height: 1;
    }
    span p{
      column-count: 2;
    }
  }
  footer{
    height:188px;
    .footerForm{
      a{
        //margin-left: 90px;
      }
    }
    .whiteFooter{
      .footerLogo{
        a{
          img{
            width: 60px;
          }
        }

      }
      .footerMenu{
        ul.menu{
          width:450px;
          li{
            margin: 0 30px 0 0;
            &:nth-child(1){
              margin-left:40px;
            }
            a{
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
      }
      .footerSocials{
        .twitter{
          margin: 5px 0 0 10px;
        }
        .facebook{
          margin:4px 0 0 5px;
        }
      }
    }
  }
}
/* Medium devices (desktops, 992px and up) ==================================================================================================*/
@media (min-width: $screen-md-min) {
  .headerImage{
    height:410px;
    span.whiteArea{
      top:310px;
    }
  }
  .services, .contracts, .training{
    h2{
      font-size: 32px;
      font-weight: 900;
    }
    p{
      font-size: 24px;
      font-weight: 500;
    }
    img{
      margin: 40px 0 0 15px;
    }
  }
  .capabilitiesContentLink{
    h2{
      font-size: 20px;
    }
    p{
      font-size: 20px;
      padding: 0 10px;
      line-height: .7;
    }
  }
  .frogMan{
    max-height: 388px;
  }
  .clientArea{
    img{
      width: 122px;
    }
  }
  .climbing-wall{
    max-height: 472px;
  }
  .solidFoundationContentArea{
    padding: 0 100px;
  }
  .background{
    background-position-x: 493px;
  }
  .engineering{
    background-position-y: -84px;
    background-position-x: 0px;
    margin-top: 0px;
    h1{
      margin-top:80px;
    }
  }
  footer{
    .footerForm{
      a{
        margin-left: 160px;
      }
    }
    .whiteFooter{
      .footerMenu{
        ul.menu{
          width:600px;
          li{
            &:nth-child(1){
              margin-left: 125px;
            }
          }
        }
      }
    }
  }
}
/* Large devices (large desktops, 1200px and up)============================================================================================ */
@media (min-width: $screen-lg-min) {
  .masthead{
    a.btn-main{
      padding: 10px;
      font-size: 18px;
    }
  }
  .headerImage{
    height:490px;
    span.whiteArea{
      top:380px;
      height: 110px;
      img:nth-child(1){
        margin-left:160px;
      }
    }
  }
  .capabilities{
    margin-top: -360px;
  }
  .frogMan{
    max-height: 480px;
  }
  .our-clients{
    margin-top: -385px;
  }
  .climbing-wall{
    max-height: 571px;
  }
  .background {
    background-position-x: 893px;
  }

  footer{
    .footerForm{
      a{
        margin-left: 235px;
      }
    }
    .whiteFooter{
      .footerMenu{
        ul.menu{
          li{
            &:nth-child(1){
              margin-left: 196px;
            }
          }
        }
      }
    }
  }
}
/* Large devices (large desktops, 1600px and up)============================================================================================ */
@media (min-width: $screen-xl-min) {
  .capabilities{
    margin-top: -426px;
  }
  .frogMan{
    max-height: 620px;
    background-position-y: 85px;
  }
  .our-clients{
    margin-top:-435px;
  }
  .climbing-wall{
    max-height: 755px;
  }
  .mountain{
    background-position-y: -270px;
  }
  .background {
    background-position-x: 1218px;
  }
  .businessAnalytics{
    background-position-y: -161px;
  }
  .engineering {
    background-position-y: -227px;
  }
}
