/* responsive settings */
$screen-xl-min: 1600px;
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Sass Bootstrap */

/* Small devices (tablets, 768px and up) ====================================================================================================*/
@media (min-width: $screen-sm-min) {
  .masthead{
    height:45px;
  }
  .navbar-default{
    display: block;
    position: relative;
    width: 365px;
    margin:0 auto;
    top:-90px;
    .navbar-nav{
      background-color: transparent;
      li{
        a{
          color:$blue;
          padding:10px;
        }
      }
    }
  }
  .headerSocials{
    display: block;
    position: relative;
    top:-47px;
  }
  .headerLogo{
    margin-top:-70px;
    img{
      width: 200px;
    }
  }
  .headerImage{
    margin-top:-75px;
    height:345px;
    span.whiteArea{
      height:100px;
      top:245px;
      img{
        width: 75px;
        margin: 15px 0 0 20px;
        &:nth-child(1){
          margin-left:100px
        }
      }
    }
  }
  .services, .contracts, .training{
    margin-top:50px;
  }
  .capabilities{
    margin-top:-300px;
    h1{
      padding: 20px 0;
      font-size: 50px;
    }
  }
  .capabilitiesContentLink{
    h2{
      font-size: 14px;
    }
  }
  .frogMan{
    bottom: 0px;
    max-height: 300px;
  }
  .our-clients{
    margin-top:-300px;

    h1{
      padding-bottom: 15px;
      font-size: 50px;
    }
  }
  .clientArea{
    img{
      width: 92px;
    }
  }
  .climbing-wall{
    bottom: 0px;
    max-height: 367px;
  }
  .solid-foundation{
    bottom: 0px;
    margin-top: 0;
    h1{
      font-size: 50px;
      margin-top:100px;
      margin-right: 28px;
    }
  }
  .mountain{
    background-position-x: 0px;
  }

  .solidFoundationContentArea{
    //top:70px;
    padding: 0 50px;

    p{
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    }
    a.btn-main{
      margin-top:60px;

    }
    a.left-side{
      margin-left: 250px;
    }
  }
  .whiteBand{
    height:200px;
    bottom: 0px;
    h2{
      font-size: 36px;
      font-weight: 900;
      margin: 56px 0 10px 0;
    }
  }
  .stay-updated{
    //max-height:598px;
    height:100%;
    margin-top:92px;
    a.left-side{
      //margin-top:145px;
      //margin-left:130px;
    }
    a.right-side{
      //margin-top:145px;
    }
  }

  .blogArea{
    h1{
      font-size: 50px;
      margin:30px 0 30px 0;
    }
  }
  .redBox{
    height:70px;
    width:60px;
    h3{
      font-size: 18px;
      margin: 18px 0 6px -7px;
    }
  }
  .blueBox{
    height: 150px;
    padding: 10px 20px;
    h2{
      font-size: 30px;
    }
    span{
      p{
        font-size: 20px;
      }
    }
    p{
      font-size: 24px;
      line-height:.6;
    }

  }
  .whiteBand-2{
    position: absolute;
    bottom: 0;
    height:240px;
    padding-top: 40px;
    h2{
      font-size: 40px;
    }
  }
  .background{
    background-size: contain;
    background-position-x: 430px;
  }
  .contactBackground{
    width:100%;
    //height: 635px;
    background: url(./images/contact-background.png) no-repeat;
    background-position-y: 260px;
    background-size: contain;
  }
  .contact-us{
    top:0;
    margin-bottom:0px;
    h1{
      font-size: 50px;
    }
  }
  .contactForm{
    textarea{
      height:140px;
      font-size: 18px;

    }
    input.wpcf7-form-control.wpcf7-submit{
      font-size: 18px;
      width:80px
    }
    .form-control{
      font-size: 18px;
      height:30px;
      border-radius: 15px;
    }
  }
  .contactInfo{
    h3{
      font-size: 22px;
    }
      p{
        font-size: 18px;
      }
  }

  .businessAnalytics{
    margin-top:90px;
    h1{
      padding: 15px 0;
      font-size: 50px;
    }
    p{
    font-size: 22px;
    line-height: .8;
    }
    .businessAnalyticsContent{
      top:76px;
    }
  }
  .logistics{
    background: url(./images/logistics-background.png) no-repeat;
    background-position-x: 455px;
    background-position-y: 400px;
    h1{
      font-size: 50px;
      padding-bottom: 40px;
      margin-top: 20px;
    }
    h2{
      font-size: 30px;
    }
    p{
      font-size: 22px;
      line-height: 1;
    }
    span p{
      margin-top:15px;
    }
  }
  .logisticsContainer{
    top:53px;
  }
  .logisticsContent{
    min-height: 335px;
  }
  .engineering{
    margin-top: 90px;
    background-position-x: -128px;

    h1{
      font-size: 50px;
      padding: 20px 0;
      margin-top:20px;
    }
    p{
      font-size: 22px;
      //line-height: 1;
    }
    span p{
      column-count: 2;
    }
  }
  .cyber{
    margin-top: 90px;
    display: block;
    background: url(./images/cyber-background.png) no-repeat;
    background-size: 33%;
    background-position-x:left;
    background-position-y:bottom;
    width: 100%;
    height: 100%;
    //top:34px;
    h1{
      font-size: 50px;
      padding-top: 10px;
      margin-top:20px;
    }
    h2{
      font-size: 30px;
    }
    p{
      font-size: 22px;
      line-height: .8;
    }
  }
  .education{
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    margin-top:90px;
    h1{
      font-size: 50px;
      padding: 20px 0;
      margin-top:20px;
    }
    p{
      font-size: 22px;
      line-height: .8;
    }
    span p{
      column-count: 2;
    }
  }
  .research{
    margin-top:90px;
    h1{
      font-size: 50px;
      padding: 20px 0;
      margin-top:20px;
    }
    h2{
      font-size: 30px;
    }
    p{
      font-size: 22px;
      line-height: .8;
    }
  }
  .about{
    img{
      display: block;
      margin:0 auto;
    }
    h1{
      font-size: 50px;
      padding: 20px 0;
      margin-top:20px;
    }
    p{
      font-size: 22px;
      line-height: .8;
    }
  }
  .team{
    img{
      width:150px;
    }
    h1{
      font-size: 50px;
      padding: 20px 0;
      margin-top:20px;
    }
    h2{
      font-size: 30px;
    }
    h3{
      font-size: 22px;
      line-height: .8;
    }
  }
  .contractArea{
    h1{
      font-size: 50px;
      padding: 20px 0;
      margin-top:20px;
    }
    h2{
      font-size: 30px;
    }
    h3{
      font-size: 22px;
      line-height: .8;
    }
  }


  .mapArea{
    iframe{
      padding:0;
      margin-bottom: -7px;
      height:400px;;
    }
  }
  .locateUs{
    h2{
      font-size: 50px;
      padding: 20px 0;
      margin-top:20px;
    }
    p{
      font-size: 22px;
      line-height: .8;
    }
  }
  .page-id-14 {
    .contact-us {
      top:0;
      min-height: 526px;
    }
    .whiteBand-2{
      height:200px;
    }
    .stay-updated{
      margin-top: 0;
    }
    .whiteBand-2{
      position: relative;;
    }
  }
  .employeeLinks{
    margin-top:45px;
    display: block;
    background: url(./images/employee-background.png) no-repeat;
    background-size: cover;
    //background-position-x: 150px;
    width: 100%;
    height: 96vh;
    .employLinksContent{
      margin-top:100px;
      background-color: rgba(255, 255, 255, .5);
      border: 1px solid rgba(255, 255, 255, .5);
      border-radius: 5px;
      padding: 20px;
    }
  }
  .employeeLinks {

    p{
      font-size: 22px;
    }
    a.btn-main{
      font-size: 22px;
      width: 280px;
    }
  }
  .whiteBackground{
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px;
  }
  footer{
    height:150px;
    .footerForm{
      a{
        //margin-left: 90px;
      }
      h2{
        margin-top:10px
      }
      #members-widget-login-3{
        form{
          input{
            width:40%;
            float: left;
            margin-top: 8px;
            height: 24px;
          }
          .login-submit{
            input{
              margin: 6px 6% 0 0;
              float: right;
            }
          }
        }
      }
      label{
        float: left;
        position: relative;
        top: 37px;
        left: 39px;
        //font-size: 16px;
      }
    }
    .blueFooter{
      height: 116px;
      margin-top: -20px
    }
    .whiteFooter{
      height:44px;
      .footerLogo{
        a{
          img{
            width: 60px;
          }
        }

      }
      .footerMenu{
        ul.menu{
          width:450px;
          li{
            margin: 0 30px 0 0;
            &:nth-child(1){
              margin-left:40px;
            }
            a{
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
      }
      .footerSocials{
        .twitter{
          margin: 5px 0 0 10px;
        }
        .facebook{
          margin:4px 0 0 5px;
        }
      }
    }
  }
  p.copyright{
    text-align: center;
    margin-top: -18px;
    font-size: 18px;
  }
  p.childress{
    text-align: center;
    margin-top: -18px;
    font-size: 18px;
  }
  .page-content{
    background: url(./images/single-background.png) no-repeat;
    background-size: contain;
    background-position-x: -140px ;
    background-position-y: 190px ;
  }
  .single{
    .blogContainer{
      min-height: 900px;
    }
  }

  .wp-pagenavi{
    padding-bottom: 50px;
  }
}
/* Medium devices (desktops, 992px and up) ==================================================================================================*/
@media (min-width: $screen-md-min) {
  .blue-button, .masthead a.btn-main{
    font-size: 20px;
    line-height: 1;
  }
  .navbar-default .navbar-nav li a{
    font-size: 22px;
  }
  .header{
    margin-top: 100px;
  }
  .headerImage{
    height:410px;
    span.whiteArea{
      top:310px;
    }
  }
  .headerLogo{
    margin-top: -40px;
  }
  .services, .contracts, .training{
    h2{
      font-size: 32px;
      font-weight: 900;
    }
    p{
      font-size: 20px;
      font-weight: 500;
    }
    img{
      margin: 40px 0 0 15px;
    }
  }
  .capabilitiesContentLink{
    h2{
      font-size: 20px;
    }
    p{
      font-size: 20px;
      padding: 0 10px;
      line-height: .7;
    }
  }
  .frogMan{
    max-height: 388px;
  }
  .clientArea{
    img{
      width: 122px;
    }
  }
  .climbing-wall{
    max-height: 472px;
  }
  .solid-foundation{
    h1{
      margin-right: 77px;
    }
  }
  .solidFoundationContentArea{
    padding: 0 100px;
  }
  .background{
    background-position-x: 493px;
  }
  .logistics{
    background-position-x: 520px;
    //background-position-y: 300px;
  }
  .engineeringBackground{
    background-position-x: 0px;
  }
  .engineering{
    top:5px;
    background-position-y: -84px;
    background-position-x: 0px;
    margin-top: 0px;
    h1{
      margin-top:80px;
    }
  }
  .contactBackground{
    background-position-y:60px;
  }
  .education{
    background-size: cover;
  }
  .research{
    background-position-y: bottom;
    background-position-x: right;
  }
  .awardColumns{
    column-count: 4;
  }
  .support-services{
    h2{
      width:100%;
    }
    .columns{
      column-count: 3;
    }

  }
  .mapArea{
    iframe{
      height:500px;
    }
  }
  .locateUs{
    padding:20px 80px;
    h2{
      font-size: 70px;
    }
    p{
      font-size: 30px;
    }
  }
  .page-id-14{
    .contactBackground {
      background-position-y: 232px;
    }
  }
  .employeeLinks {
    .employLinksContent{

    }
  }

  footer{
    .footerForm{
      a{
        margin-left: 160px;
      }
    }
    .blueFooter{
      //margin-top:-37px;
    }
    .whiteFooter{
      .footerMenu{
        ul.menu{
          width:700px;
          li{
            &:nth-child(1){
              margin-left: 125px;
            }
          }
        }
      }
    }
  }
  p.copyright{
    //margin-left: 172px;
  }
}
/* Large devices (large desktops, 1200px and up)============================================================================================ */
@media (min-width: $screen-lg-min) {
  .masthead{
    a.btn-main{
      padding: 10px;
      font-size: 22px;
    }
  }
  .navbar-default .navbar-nav{
    width:430px;
  }
  .navbar-right{
    margin-right: -60px;
  }
  .navbar-default .navbar-nav li a {
    font-size: 30px;
  }
  .headerLogo{
    margin-top: 4px;
  }
  .headerImage{
    height:490px;
    span.whiteArea{
      top:380px;
      height: 110px;
      img:nth-child(1){
        margin-left:160px;
      }
    }
  }
  .capabilities{
    margin-top: -360px;
    h1{
      font-size: 70px;
    }
  }
  .capabilitiesContentLink{
    h2{
      font-size: 24px;
    }
    p{
      font-size: 24px;
    }
  }
  .frogMan{
    max-height: 480px;
  }
  .businessAnalytics{
    h1{
      font-size: 70px;
    }
    p{
      font-size: 24px;
    }
  }
  .our-clients{
    h1{
      font-size: 70px
    }
    margin-top: -360px;
  }
  .solid-foundation{
    h1{
      font-size: 70px
    }
  }
  .solidFoundationContentArea{
    p{
      font-size: 24px;
    }
  }
  .solidFoundationButton, .solidFoundationContentArea a.btn-main, .whiteBand a.btn-main, .stay-updated a.btn-main{
    height:38px;
    width:105px;
    border-radius:19px;
    font-size: 24px;
  }
  .climbing-wall{
    max-height: 571px;
  }
  .background {
    background-position-x: 893px;
  }
  .engineeringBackground{

    background-position-y: bottom;
  }
  .blogArea{
    h1{
      font-size: 70px;
    }
  }
  .contact-us{
    h1{
      font-size: 70px;
    }
  }
  .contactBackground {
    background-position-y: 115px;
  }
  .contactInfo{
    h3{
      font-size: 30px;
    }
    p{
      font-size: 24px;
    }

  }
  .logistics {
    background-position-x: 780px;
    //background-position-y: 210px;
    h1{
      font-size: 70px;
    }
    p{
      font-size: 24px;
    }
  }
  .engineering{
    h1{
      font-size: 70px;
    }
    p{
      font-size: 24px;
    }
  }
  .cyber{
    h1{
      font-size: 70px;
    }
    h2{
      font-size: 32px;
    }
    p{
      font-size: 24px;
    }
  }
  .education{
    h1{
      font-size: 70px;
    }
    p{
      font-size: 24px;
    }
  }
  .research{
    h1{
      font-size: 70px;
    }
    h2{
      font-size: 32px;
    }
    p{
      font-size: 24px;
    }
  }
  .about{
    h1{
      font-size: 70px;
    }
    p{
      font-size: 24px;
    }
  }
  .team{
    h1{
      font-size: 70px;
    }
  }
  .employeeInfo{
    h2{
      font-size: 32px;
    }
    h3{
      font-size: 24px;
    }
  }
  .page-id-12 .background, .page-id-14 .background{
    background-size: 59%;;
  }
  .employeeLinks{
    .employLinksContent{
      //padding: 0 80px;

    }
    p{
      font-size: 24px;
    }
  }
  .contractArea{
    h1{
      font-size: 70px;
    }
    h2{
      font-size: 32px;
    }
    p{
      font-size: 24px;
    }
  }
  footer{
    .footerForm{
      a{
        margin-left: 235px;
      }
    }
    .whiteFooter{
      .footerMenu{
        ul.menu{
          li{
            &:nth-child(1){
              margin-left: 196px;
            }
          }
        }
      }
    }
  }
  p.copyright {
    //margin-left: 245px;
  }
}
/* Large devices (large desktops, 1600px and up)============================================================================================ */
@media (min-width: $screen-xl-min) {
  .navbar-right {
    margin-right: -148px;
  }
  .capabilities{
    margin-top: -426px;
  }
  .frogMan{
    max-height: 620px;
    background-position-y: 85px;
  }
  .our-clients{
    margin-top:-435px;
  }
  .climbing-wall{
    max-height: 755px;
  }
  .mountain{
    background-position-y: -270px;
  }
  .background {
    background-position-x: 1218px;
  }
  .businessAnalytics{
    background-position-y: -161px;
  }
  .logistics {
    background-position-x: 950px;
    //background-position-y: 103px;
  }
  .engineering {
    background-position-y: -227px;
  }
  .contactBackground{
    position: relative;
    top:60px;
  }
  .page-id-14 {
    .contactBackground{
      top:0;
    }
  }
  .employeeLinks {
    .employLinksContent{
      margin-left:-150px;
    }
  }
}
