/*======================================= mixins =================================================*/
.blue-button{
  display: block;
  position: relative;
  border: solid 1px $blue;
  background-color: $blue;
  color: #fff;
  padding: 14px ;
  width: 130px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  &:hover{
    background-color: #fff;
    color:$blue;
  }
}
.solidFoundationButton{
  display: block;
  width: 85px;
  margin: 0 auto;
  height: 28px;
  border: solid 2px $red;
  border-radius: 14px;
  text-align: center;
  color: $red;
  font-size: 18px;
  font-weight: 900;
  &:hover{
    background-color: $red;
    color:#fff;
  }
}
