/*======================================= Variables =================================================*/
//colors
$blue:rgb(18, 61, 97);
$blue-trans:rgba(18, 61, 97, .5);
$red:rgb(130, 34, 34);
$red-trans:rgba(130, 34, 34, .5);
